@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
    background-color: $background;
    padding: 1rem;
    min-height: 100vh;
    position: relative;
    top: 4rem;

    &__title {
        margin: 0 0 1rem;
        padding: 0 0 0.5rem;
        border-bottom: 5px solid #ccc;
    }
}
