@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
    background-color: $background;
    padding: 1rem;
    min-height: 100vh;
    position: relative;
    top: 4rem;
}
