@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.active {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    background-color: $background;
    padding: 1rem 2rem;


    &__selected {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: calc(50% - 2rem);
        height: calc(100% - 10rem);
        position: fixed;
        align-items: center;
        left: 2rem;
        top: 7rem;
    }

    &__visual {
        height: 60%;
    }

    &__card-img {
        border-radius: 10px;
        height: 100%;
        box-shadow: $box-shadow;
    }

    &__details {
        height: 40%;
        width: 60%;
        background-color: $dark;
        box-shadow: $box-shadow;
    }


    &__right {
        width: 50%;
        height: 100%;
        align-self: flex-end;
    }

    &__decklist {
        height: 100%;
        padding: .5rem;
    }

    &__decklist-name {
        border-bottom: 1px solid $primary-text;
        margin: .5rem;
        width: 45%;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100vh;
    }

    &__type {
        margin: .5rem;
        min-width: 10rem;
        width: 40%;
    }

    &__card-name {
        margin: 0.25rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5rem;
        width: 80%;

        &--selected {
            @extend .active__card-name;
            background-color: $dark;
        }
    }
}