@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.active {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    background-color: $background;
    padding: 1rem 2rem;
    min-height: 100vh;

    &__selected {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: calc(50vw - 2rem);
        height: calc(100% - 10rem);
        position: fixed;
        align-items: center;
        left: 2rem;
        top: 7rem;
    }

    &__visual {
        height: 60%;
    }

    &__card-img {
        border-radius: 10px;
        height: 100%;
        box-shadow: $box-shadow;
    }

    &__details-box {
        height: 40%;
        width: 60%;
        background-color: $dark;
        box-shadow: $box-shadow;
        padding: 1rem;
        border-radius: 10px;
    }



    &__right {
        width: 50%;
        height: 100%;
        padding: .5rem;
    }

    &__decklist-name {
        border-bottom: 1px solid $primary-text;
        margin: .5rem;
        width: 45%;
    }

    &__cards {
        column-count: 2;
    }

    &__type {
        margin: .5rem;
        min-width: 10rem;
        break-inside: avoid-column;
    }
}