@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
    position: relative;
    margin: .25rem;

    &__bar {
        width: 45%;
        outline: none;
    }

    &__results {
        position: absolute;
        white-space: nowrap;
        background-color: $dark;
    }

    &__option {
        color: $primary-text;
        margin: .25rem;
    }
}