@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sidebar {
    height: calc(100vh - 4rem);
    background-color: $side;
    position: fixed;
    top: 4rem;
    z-index: 2;
    box-shadow: $box-shadow;

    display: flex;
    gap: 2rem;
    padding: 2rem 0;

    &__bar {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        
        width: 4rem;
        height: 100%;
    }

    &__container {
        width: 100%;
        padding: 1rem;

        &--active {
            @extend .sidebar__container;
            background-color: $dark;
            box-shadow: inset $box-shadow;
        }
    }

    &__icon {
        height: 2rem;
    }
}