@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sideBar {
    width: 4rem;
    height: calc(100vh - 4rem);
    background-color: $side;
    position: fixed;
    top: 4rem;
    z-index: 2;
    box-shadow: $box-shadow;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0;

    &__container {
        width: 100%;
        padding: 1rem;
        &--active {
            @extend .sideBar__container;
            background-color: $dark;
        }
    }

    &__icon {
        height: 2rem;
    }
}